<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops" xml:lang="en" lang="en" dir="ltr">
<head>
    <meta charset="utf-8"/>
    <title>الحواشي</title>
    <link rel="stylesheet" type="text/css" href="styles/base.css"/>
</head>
<body>
{%- for fn in footnotes %}
    <aside epub:type="footnote" id="fn-{{ fn.id }}">
        <p class="footnote-text" dir="ltr"><sup>{{ fn.number }}</sup> {{ fn.text }}</p>
    </aside>
{%- endfor %}
</body>
</html>
